{% extends 'courses/base.html' %}

{% block title %}Мій кабінет{% endblock %}

{% block content %}

<div class="contact-card">
    <h2>Ви можете зв'язатися зі мною по будь-яким питанням:</h2>
  
    <a href="https://t.me" target="_blank" class="contact-btn">
      <span><span class="contact-icon">💬</span> Telegram @username</span>
    </a>
  
    <a href="https://calendly.com/kaut-tanya-s/30min" target="_blank" class="contact-btn">
      <span><span class="contact-icon">📅</span> Забронювати 30-хвилинний дзвінок</span>
    </a>
  </div>
  {% endblock %}
